<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#000000" />
  <!-- CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- Font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="../../stylesheets/style.css">
  <!-- Title -->
  <title>Real Time monitoring App</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark p-0 shadow">
    <div class="container">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admins/">EEELAB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-1 ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if(currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admins/dashboard">Dashboard</a>
          </li>
          <% } %>

          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <div class="navbar-nav my-2 my-lg-0 ">
          <% if(!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admins/login">Admin Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">User login</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <span class="nav-link disabled">Logged in as: <span
                class="text-uppercase"><%=currentUser.username%></span></span>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/admins/logout">Logout</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <% } %>
        </div>
      </div>
  </nav>
  <div class="container text-center mt-5">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger">
      <p><%=error %></p>
    </div>
    <% } %>

    <% if(success && success.length > 0) { %>
    <div class="alert alert-success">
      <p><%= success %></p>
    </div>
    <% } %>
  </div>